div(style="display: flex;")
	input(type="file")#file-input
	a(rel="noopener noreferrer" href=authUrl) Login

hr

.categories
	.chart.type-bars
	.chart.class-bars
	.chart.total-bars

.attributes

table.data-table
